src/keywords.h linguist-generated
src/parser.c linguist-generated
src/grammar.json linguist-generated
src/node-types.json linguist-generated
src/tree_sitter/** linguist-generated
package-lock.json linguist-generated
binding.gyp linguist-generated
bindings/** linguist-generated
